/*menus*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&display=swap');
/*background-image: linear-gradient(270deg, #100d28,#8906e6);*/
body {
  
    max-height: 100%;
    background-color: #ccc1d1;
    }
  
  *{
      padding: 0;
      margin: 0;
      
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
  
  
  
   
    background-color: #000000;
    box-shadow: 0px 3px 10px #464646;
  }
  
  .nav-bar{
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 6rem;
  }
  
  .logo{
      display: flex;
      align-items: center;
  }
  
  .logo h1{
      color: #fff;
  }
  
  .nav-list{
      display: flex;
      align-items: center;
  }
  
  .nav-list ul{
      display: flex;
      justify-content: center;
      list-style: none;
  }
  
  .nav-item{
      margin: 15px;
      
  }
  
  .nav-link{
      text-decoration: none;
      font-size: 1.15rem;
      color: #fff;
      font-weight: 400;
  }
  
  /*botão do pânico*/
  .login-button button{
    border: none;
    background-color: #d54a54 ;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100px;
    height: 60px;
    cursor: pointer;
    
  
  }
  
  .login-button button:hover{
  transform: scale(1.2);
  background-color: #bc1823;
  transition: all 0.4s;
  opacity: 0.8;
  }
  
  .login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .panic{
  width: 30px;
  height: 30px;
  
  }
  /*fim do botão do pânico*/
  
  .mobile-menu-icon{
      display: none;
  }
  
  .mobile-menu{
      display: none;
  }
  
  @media screen and (max-width: 730px) {
      .nav-bar{
          padding: 1.5rem 4rem;
      }
      .nav-item{
          display: none;
      }
      .login-button{
          display: none;
      }
      .mobile-menu-icon{
          display: block;
      }
      .mobile-menu-icon button{
          background-color: transparent;
          border: none;
          cursor: pointer;
      }
      .mobile-menu ul{
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-bottom: 1rem;
      }
  
      .mobile-menu .nav-item{
          display: block;
          padding: 1.2rem;
      }
      .mobile-menu .login-button{
          display: block;
          padding: 1rem 2rem;
      }
      .mobile-menu .login-button button{
          width: 100%;
      }
      .open{
          display: block;
      }
  }
  
  
  /*menu hamburguer*/
    #menu {
      margin-top: 80px;
      z-index: 2;
    }
    
     /*mexi para deixar o menu fixo: position: fixed;,top: 0;,
      left: 0;*/
    #menu-bar {
      position: fixed;
      top: 0;
      left: 0;
  
  
  
  
  
      width: 45px;
      height: 40px;
      margin: 30px 0 20px 20px;
      cursor: pointer;
    }
    
    .bar {
      height: 5px;
      width: 100%;
      background-color: white;
      display: block;
      border-radius: 5px;
      transition: 0.3s ease;
    }
    
    #bar1 {
      transform: translateY(-4px);
    }
    
    #bar3 {
      transform: translateY(4px);
    }
    
      
    /*mexi para deixar o menu fixo: position: fixed;*/
    .nav {
      position: fixed;
     
  
  
  
  
  
  
  
      transition: 0.3s ease;
      display: none;
    }
    
    .nav ul {
      padding: 0 22px;
    }
    
    .nav li {
      list-style: none;
      padding: 12px 0;
    }
    
    .nav li a {
      color: white;
      font-size: 20px;
      text-decoration: none;
    }
    
    .nav li a:hover {
      font-weight: bold;
    }
    
    .menu-bg, #menu {
      top: 0;
      left: 0;
      position: absolute;
    }
    
    /* background: radial-gradient(circle, #100d28,#8906e6);*/
    /*mexi para deixar o menu fixo:   position: fixed; */
    .menu-bg {
      position: fixed;
  
  
  
  
  
  
  
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;
     background-color: #a9016d;
      border-radius: 50%;
      transition: 0.3s ease;
    }
    
    .change {
      display: block;
    }
    
    .change .bar {
      background-color: white;
    }
    
    .change #bar1 {
      transform: translateY(4px) rotateZ(-45deg);
    }
    
    .change #bar2 {
      opacity: 0;
    }
    
    .change #bar3 {
      transform: translateY(-6px) rotateZ(45deg);
    }
    
    .change-bg {
      width: 520px;
      height: 460px;
      transform: translate(-60%,-30%);
    }
    /*fim menus*/

.geral{
    height: 3600px;
   
    margin-bottom: 100px;
    margin-top: 200px;
    
}/*usei para deixar as divs afastadas*/

/*TITULO*/
.titlle{
    display: flex;
    justify-content: center;
}

.titlle h1{
    font-family:fantasy;
    color: #210037;
    font-size: 60px;

}



.conteudo1{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  

}

.d1{
  width: 350px;
  height: 300px;
  margin-left: 50px;
  margin-top: 35px;
}

.d1 h2{
  color: #CF3A35;
  font-size: 40px;
  font-weight: bolder;
}

.d1 p{
  color: #210037;
  width: 200px;
  height: 100px;
  /*text-align: justify;*/
  font-weight: bolder;
   margin: 0 auto;
   font-size: 25px;
   margin-top: 25px;
   
 
}

.box{
  display: flex;
  justify-content: center;
  
  margin-top: 100px;

}

.caixa1{
  background-color: gray;
  height: 100px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  background-color: #613AA9;
  margin-left: 20px;
}

.caixa1 p{
  margin-top: 30px;
  color: white;
}




/*estilização v. sexual*/
.cor_de_fundo{
  background-color: #a26cd0;
  height: 800px; 
  width: 1200px;
 margin-left: 80px;
  border-radius: 40px;
  
  
}
.conteudo2{
display: flex;
justify-content: center;
 margin-top: -250px;
 padding-top: 50px;
 
}
.d2 h2{
  margin-left: 60px;
}

.box2{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.d2{
  width: 500px;
  height: 400px;
  margin-left: 50px;
  margin-top: 35px;
}

.d2 h2{
  color: #CF3A35;
  font-size: 40px;
  font-weight: bolder;
}

.d2 p{
  color: #210037;
  width: 300px;
  height: 200px;
  /*text-align: justify;*/
  font-weight: bolder;
   margin: 0 auto;
   font-size: 25px;
   margin-top: 25px;
   text-align: justify;
   
 
}

.caixa2{
  background-color: gray;
  height: 100px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  background-color: #af86ff;
  margin-left: 20px;
  
}

.caixa2 p{
  margin-top: 30px;
  color: white;
} 

/*estilização v. psicológoca*/
.img_lateral{
  margin-left: -300px;
  /*colocar sombra nessa imagem*/
}

.conteudo3{
  display: flex;
justify-content: center;
 margin-top: -400px;
 padding-top: 50px;

}

.conteudo3 img{
  height: 300px;
  width: 500px;
}

.conteudo3 img{
   margin-top: 30px;
}


.caixa3{
  background-color: gray;
  height: 100px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  background-color: #8127bd;
  margin-left: 20px;
  margin-bottom: 20px ;

}

.caixa3 p{
  color: white;
  /*deixar as palavras no centro*/
}

.d3{
  height: 300px;
  width: 800px;
  margin-left: 270px;
}

.d3 h2{
  color: #CF3A35;
  font-size: 40px;
  font-weight: bolder;

}

.d3 p{
  color: #210037;
  width: 800px;
  height: 200px;
  /*text-align: justify;*/
  font-weight: bolder;
   margin: 0 auto;
   font-size: 25px;
   margin-top: 25px;
   text-align: justify;
}

/*v. patrimonial*/
.conteudo4{
  display: flex;
  justify-content: center;
   
   padding-top: 50px;
   
  }
  .conteudo4 img{
    width: 432px;
    height: 236px;
    margin-top: 50px;
  }


  .d4 h2{
    margin-left: 60px;
  }

  .d4{
    width: 500px;
    height: 400px;
    margin-left: 50px;
    margin-top: 35px;
  }

  
  .d4 h2{
    color: #CF3A35;
    font-size: 40px;
    font-weight: bolder;
  }

  .d4 p{
    color: #210037;
    width: 300px;
    height: 200px;
    /*text-align: justify;*/
    font-weight: bolder;
     margin: 0 auto;
     font-size: 25px;
     margin-top: 25px;
     text-align: justify;
  }  

.box4{
  
    display: flex;
    justify-content: center;
  
}

.img_finalizando{
  margin-top: 90px;
}

/*button final*/
/*no lugar da imagem do intagran, pensei em colocar uma img do icon de site*/
.button_sb{
  height: 100px;
}

button {
  background-color: #3d0066;
  border: 1px solid white;
  padding: 5px;
  position: relative;/*está sobreposto ao mause, analisar se é por causa desse código ou position: absolute*/
  width: 8.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  margin-left: 215px;/*não consegui deixar no centro*/
  margin-top: 50px;
}

button p {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color:#ccc1d1 ;
}

button svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff
}

button:hover p {
  left: 0.6em;
  color: #fff
}

button:hover svg {
  opacity: 1;
}

button:hover {
  background-color: #af86ff;
}

@media screen and (max-width: 1024px) {
  .cor_de_fundo{
    width: 900px;
    height: 600px; 

  }

  .conteudo2 img{
    height: 300px;
    width: 500px;
    margin-top: 80px;
    
    
  }

  .box2{
    margin-top: -15px;

  }

  .caixa2{
    height: 100px;
  width: 200px;
  font-size: 20px;
  }
}